.todo-example
    width: 60rem
    margin: 2rem auto


.todo-list
    margin-top: 2rem

.todo
    height: 2rem
    padding: 1rem 0
    font-size: 2rem
    display: flex
    align-items: center
    border-bottom: 1px solid #ddd

    >.ui-boxgroup
        flex: 0

    >span
        flex: 1 1 auto
