@require 'nib'

global-reset()

@require 'melon/css/colors.styl'
@require 'melon/css/mixin.styl'
@require 'melon/css/theme/default/index.styl'
@require 'melon/css/**'

body
    font-size: 16px

@require './todo'
